body {
  margin: 0;
  padding: 0;
  background-color: rgb(242, 242, 200);
}

.content {
  width: 100%;
  position: absolute;
}
.calculator-container {
  width: 265px;
  height: 470px;
  position: absolute;
  left: 50%;
  top: 85px;
  transform: translateX(-50%);
  z-index: 5;
  background-color: black;
  border-style: solid;
}
.display-container {
  height: 160px;
}

.btn {
  outline: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 5px 5px 0;
  font-weight: bold;
  background-color: #333333;
  color: white;
  font-size: 18px;
  outline: none;
  border: none;
  transition: 0.5s;
}
#zero {
  padding-left: 20px;
  text-align: left;
  width: 115px;
  height: 45px;
  border-radius: 25px;
}
.btn:hover {
  opacity: 0.7;
}
#btnx {
  background: rgb(111, 111, 111);
}
.operation {
  background-color: #ed9821;
  position: relative;
}
#result {
  color: white;
  text-align: right;
  font-family: monospace;
  font-size: 26px;
  font-weight: 400;
}

/* footer */
footer {
  position: absolute;
  top: 100%;
}
footer span {
  text-align: center;
  display: inline-block;
  margin: 20px;
  font-size: 1rem;
  color: rgba(189, 189, 250, 1);
}
